body{
    font-family: 'Dubai';
    background-color: rgb(12, 7, 49);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-main{
    margin: 20px;
    width: 70%;
}

.title{
    color: white;
    padding: 10px;
    text-align: start;
    border-bottom: solid 2px rgb(0, 255, 255);
    font-size: 20px;
}

.publicaciones{
    background: #fff;
    margin: 20px 0;
    border: 1px solid rgb(139, 139, 139);
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 30% 10%;
}

.publicaciones:hover{
    box-shadow: 0px 0px 5px 2px rgb(0, 255, 242);
}

.publicacion{
    display: flex;
    text-align: justify;
    align-items: center;
}

.tarea{
    color: rgb(1, 73, 141);
    font-family:  sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin: 0 0 0 10px;
}

.tarea:hover{
    color: rgb(0, 83, 251);
}

.date-container{
    display: grid;
    grid-template-columns: 90% 10%;
    font-size: 14px;
    align-items: center;
}

.date{
    display: flex;
    justify-content: end;
}

.hora, .fecha{
    margin: 0px 10px;
}

.opciones{
    display: flex;
    justify-self: center;
    font-size: 25px;
}

.opciones a{
    text-decoration: none;
    color: rgb(151, 0, 0);
    font-weight: bold;
}

.opciones a:hover{
    color: rgb(255, 0, 0);
}

@media (max-width: 750px){
    .publicaciones{
        grid-template-columns: 1fr 10% 5%;
    }
}

@media (max-width: 700px){
    .container-main{
        width: 90%;
    }
}

@media (max-width: 550px){
    .container-main{
        width: 100%;
    }
}

@media (max-width: 530px){
    .container-main{
        width: 100%;
    }

    .publicaciones{
        grid-template-columns: 1fr 10%;
        grid-template-rows: 1fr 1fr;
    }

    .publicacion{
        width: 100%;
        grid-column: 1 / 3;
    }

    .date{
        justify-content: start;
    }

    .opciones{
        text-align: start;
        justify-content: start;
        justify-self: start;
    }
}