.container-1{
    margin-top: 20px;
}

.options-container{
    display: flex;
    justify-content: center;
}

.options{
    background: blueviolet;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    width: 150px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
}

.options:hover{
    background: #ff00ff;
}

.container-2{
    display: flex;
    width: 100%;
    justify-content:center;
}

.movie-container{
    width: 200px;
    margin: 20px;
    overflow: hidden;
    border-radius: 5px;
}

.movie-container a{
    text-decoration: none;
}

.movie-container a img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.movie-container a p{
    color: white;
    text-align: center;
    margin-top: -2px;
}

.movie-container:hover{
    background: blueviolet;
    color: white;
    font-weight: bold;
}

/* * 👁️👄👁️ YES */
/** 👁️👃👁️ Si quedo chido/